<%- include('../template/cabecera.ejs') %>
<div class="main">
                            <!-- FORMULARIO -->
  <form action="" class="formulario" id="formulario">
    <!-- DIRECCION DE CORREO -->
    <div class="formulario__grupo" id="grupo__usuario">
      <label for="usuario" class="formulario__label">Usuario</label>
      <div class="formulario__grupo-input">
        <input type="text" class="formulario__input" name="usuario" placeholder="jhon 123">
        <i class="formulario__validacion-estado fab fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 digitos y solo pueden contener numeros letras y _ </p>
    </div>
      <!-- NOMBRE DE USUARIO -->
    <div class="formulario__grupo" id="grupo__nombre">
      <label for="nombre" class="formulario__label">Nombre</label>
      <div class="formulario__grupo-input">
        <input type="text" class="formulario__input" name="nombre" placeholder="jhon doe">
        <i class="formulario__validacion-estado fab fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 digitos y solo pueden contener numeros letras y _ </p>
    </div>
        <!-- CONTRASEÑAS -->
    <div class="formulario__grupo" id="grupo__password">
      <label for="password" class="formulario__label">Contraseña</label>
      <div class="formulario__grupo-input">
        <input type="password" class="formulario__input" name="password" id="password">
        <i class="formulario__validacion-estado fab fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 digitos</p>
    </div>
      <!-- REPETIR CONTRASEÑA  -->
    <div class="formulario__grupo" id="grupo__password-2">
      <label for="password-2" class="formulario__label">Repetir Contraseña</label>
      <div class="formulario__grupo-input">
        <input type="password" class="formulario__input" name="password-2" id="password-2">
        <i class="formulario__validacion-estado fab fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">Ambas contraseña tienen que ser iguales</p>
    </div>
      <!-- correo -->
    <div class="formulario__grupo" id="grupo__correo">
      <label for="correo" class="formulario__label">Correo Electrónico</label>
      <div class="formulario__grupo-input">
        <input type="email" class="formulario__input" name="correo" placeholder="correo@correo.com">
        <i class="formulario__validacion-estado fab fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El correo  tiene que ser de 4 a 16 digitos y solo pueden contener numeros letras y _ </p>
    </div>
      <!-- TELEFONO -->
    <div class="formulario__grupo" id="grupo__telefono">
      <label for="telefono" class="formulario__label">Telefono Electrónico</label>
      <div class="formulario__grupo-input">
        <input type="email" class="formulario__input" name="telefono" placeholder="12345678">
        <i class="formulario__validacion-estado fab fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El correo  tiene que ser de 4 a 16 digitos y</p>
    </div>
      <!-- TERMINOS Y CONDICIONES -->
    <div class="formulario__grupo" id="grupo__terminos">
      <label class="formulario__label">
        <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
        Acepto Los Terminos y Condiciones
      </label>
      </div>
      <div class="formulario__mensaje" id="formulario__mensaje">
        <p><i class="fab fa-exclamation-triangle"><b>Error:</b>Por favor completa el formulario.</i></p>
    </div>
    <div class="formulario__grupo formulario__grupo-btn-enviar">
      <button type="submit" class="formulario__btn">Enviar</button>
      <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
    </div>
  </form>
</div>