<div class="boxInformation">
  <!-- <img src="/public/img/banner2.jpg" alt=""> -->
  <div class="row">
    <div class="boxTitle col-6">
      <h1>Nuestro staff!!!</h1>
    </div>
    <div class="boxPlayers row">
      <div class="players col-3">
        <div class="div">
          <img class="picture" src="/img/lola.jpg" width="100%" alt="">
        </div>
        <div class="name">
          <h3>Lola</h3>
          <p>Lola es una de las fundadoras de la ferreteria junto a Martin</p>
        </div>
      </div>
      <div class="players col-3">
        <div class="div">
          <img class="picture" src="/img/martin.jpg" alt="">
        </div>
        <div class="name">
          <h3>Martin</h3>
          <p>Martin es el fundador y SEO de Ferreteria El Sapo! fundandola en el año 2000 luego de un viaje a Europa y trabajar una temporada de guardavida Martin enprende su retorno a Arg con la idea de abrir su propio negocio! </p>
        </div>
      </div>
      <div class="players col-3">
        <div class="div">
          <img class="picture" src="/img/lucho.jpg" alt="">
        </div>
        <div class="name">
          <h3>Lucho</h3>
          <p>Lucho es la mano derecha de Martin y el primer empleado de la Ferreteria</p>
        </div>
      </div>
      <div class="players col-3">
        <div class="div">
          <img class="picture" src="/img/felipe.jpg" alt="">
        </div>
        <div class="name">
          <h3>Felipe</h3>
          <p>El es el guardian de la Ferreteria y del barrio tambien... amigo de todos, muy atento por el dìa y por la noche, un sentinela infalible!</p>
        </div>
      </div>
    </div>
  </div>
</div>





