<%- include('../template/cabecera', {tituloWeb: 'página de Inicio'}) %>
<%- include('../template/carousel') %>
<h1 class="text-primary">index.ejs</h1>

<%- include('../views/index.e.ejs') %>

<%- include('../template/footer')  %> 